<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights" method="POST">
    <label for="airline-select">Airline:</label>
    <select name="airline" id="airline-select">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
    </select>
    <label for="airport-select">Airport:</label>
    <select name="airport" id="airport-select">
      <option value="DEN">Denver</option>
      <option value="AUS">Austin</option>
      <option value="DFW">Dallas Fort-Worth</option>
      <option value="LAX">Los Angeles</option>
      <option value="SAN">San Francisco</option>
    </select>
    <label for="flight-no-input">Flight No.</label>
    <input type="text" name="flight-no" id="flight-no-input" />
    <label for="datetimelocal-input">Departure</label>
    <input type="datetime-local" name="datetimelocal" id="datetime-local-input" />
    <button href="/flights" submit">Add Flight</button>
  </form>
</main>

<%- include('../partials/footer') %>